div .Main {
  max-width: 850px;
  display: block;
  margin: 0 auto;
  padding: 1rem 1rem;
}

header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5rem solid rgb(237, 240, 239);
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(237, 240, 239);
}
.main_img {
  display: flex;
  justify-content: left;
  background-color: rgb(237, 240, 239);
  border-radius: 5px;
}
.main_p {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
button {
  background-color: #ea58009e;
  color: #ffffff;
  border-color: #ea004b;
  border-radius: 10px;
  height: 2.5rem;
  width: 5rem;
}
button:hover {
  background-color: #ffffff;
  color: #ea58009e;
  cursor: pointer;
}
